gca_directory=/home/jose/trabajos/gca/
gca_docker_directory=/tmp/gca
prv_key=~/.ssh/docker-php-container
pub_key=~/.ssh/docker-php-container.pub
context=~/trabajos/gca/tools/docker
GCA_HOST=localhost
GCA_PORT_IN=8080
GCA_PORT_OUT=8080
MYSQL_ROOT_PASSWORD=newage
DATABASE_DRIVER=MYSQL
DATABASE_NAME=sumysqld01
DATABASE_HOST=percona-server
DATABASE_USER=root
INSTANCE_URL=http://gca-suitecrm:8080
INSTANCE_ADMIN_USER=9017
INSTANCE_ADMIN_PASSWORD=9017
INSTANCE_CLIENT_ID=suitecrm_client
INSTANCE_CLIENT_SECRET=secret
PROGRESS_DELAY=2
GECKODRIVER_VERSION=0.23.0
